@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

ul::-webkit-scrollbar {
  width: 6px;
}
ul::-webkit-scrollbar-track {
  background: white;
}
ul::-webkit-scrollbar-thumb {
  background: rgb(231 229 228);
  border-radius: 3px;
}
